/* mobile response query/handler */
/* iphone 5/SE */
@media screen and (max-width: 320px) { 
    
    .parallax-container {
        height: 300px;
    }

    .background-image {
        height: 100vh;
        width: 100vh;
    }

    .container {
      width: 768px;
      height: 1024px;
     }
     
     #bio-image {
         height: 200px !important;
         width: 200px !important;
         margin-top: -120px !important;
     }
}
/* iphone 6/7/8 */
@media screen and (max-width: 375px) { 
    
    .parallax-container {
        height: 300px;
    }

    .background-image {
        height: 100vh;
        width: 100vh;
    }

    .container {
      width: 768px;
      height: 1024px;
     }
     
     #bio-image {
         height: 200px !important;
         width: 200px !important;
         margin-top: -120px !important;
     }
}
/* iphone 6/7/8 plus */
@media screen and (max-width: 414px) { 
    
    .parallax-container {
        height: 300px;
    }

    .background-image {
        height: 100vh;
        width: 100vh;
    }

    .container {
      width: 768px;
      height: 1024px;
     }
     
     #bio-image {
         height: 200px !important;
         width: 200px !important;
         margin-top: -120px !important;
         margin-left: 50px;
     }
}
/* iphone X */
@media screen and (max-width: 375px) { 

    .parallax-container {
        height: 300px;
    }

    .background-image {
        height: 100vh;
        width: 100vh;
    }

    .container {
      width: 768px;
      height: 1024px;
     }
     
     #bio-image {
         height: 200px !important;
         width: 200px !important;
         margin-top: -120px !important;
     }
}
/* ipad */
@media screen and (max-width: 768px) { 
    
    .parallax-container {
        height: 300px;
    }

    .background-image {
        height: 100vh;
        width: 100vh;
    }

    .container {
      width: 768px;
      height: 1024px;
     }
     
     #bio-image {
         height: 200px !important;
         width: 200px !important;
         margin-top: -120px !important;
     }
}
/* ipad pro */
@media screen and (max-width: 1024px) { 
    
    .parallax-container {
        height: 300px;
    }

    .background-image {
        height: 100vh;
        width: 100vh;
    }

    .container {
      width: 768px;
      height: 1024px;
     }
     
     #bio-image {
         height: 200px !important;
         width: 200px !important;
         margin-top: -120px !important;
     }
}