body {
    display: block;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    height: 100%;
    max-height: 500px;
    background-image:url(../images/background-image.jpeg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
}

h1, h2 {
    background-color: black;
    color: #efeee7;
    margin: 0;
    /* text-align: center; */
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    opacity: .8;
}

.menu {
    width: 100%;
    height: 80px;
    background-color: black;
    opacity: .8;
    display: flex;
    flex-direction: row-reverse;
    /* make fluid */
    /* color: white; */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
    width: 100px;
    height: 40px;
    /* opacity: .8; */
    line-height: 40px;
    text-align: center;

}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    background-color: black;
    opacity: 1.6;
    color:  white;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

a {
    color: white;
}

p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-right: auto;
    padding-top: 30px;
    padding-right: 50px;
}

#bio-image {
    max-width: fit-content;
    max-height: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
}

.footer {
    /* width: 100%; */
    /* position: absolute; */
    /* padding-top: 50px; */
    /* bottom: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #main-bio,
#contact-info,
#bio-image {
    flex-wrap: inherit;
} */

/* #main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
}  */