body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
}

h1 {
    background-color: black;
    color: #efeee7;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

#bio-image {
    max-width: fit-content;
    max-height: 200px;
    padding-right: 20px;
}

a {
    color: #d21034;
}

.container {
    width: 1024px;
    margin: 0 auto;   
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
}
/*
  Page will resize when browser dimensions reach 768px or less.
*/
@media screen and (max-width: 768px) {
    /* The wrapper's width will be 600px */
    .container {
      width: 600px;
    }
  }
  
@media screen and (max-width: 600px) {
    /* The wrapper's width will be 600px */
    .container {
      width: 400px;
    }
  }
  